body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  color: #333333;
  margin: 0;
  line-height: 1.5;
  padding: 0;
}

h1 {
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
}

h2 {
  color: #000000;
  padding: 5px;
}

h3 {
  color: #000000;
  padding: 5px;
}

p {
  margin: 10px;
  padding: 5px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #555555;
  text-decoration: underline;
}

.blog-post {
  background-color: #ffffff;
  border: 1px solid #999999;
  width: 80%;
  margin: 15px auto;
  padding: 10px;
}

#Reflection-lab1,
#Reflection-lab2,
#Reflection-lab3 {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 8px;
  margin-top: 15px;
}
